service: auto-remediate

provider:
  name: aws
  runtime: nodejs6.10
  stage: v1
  stackTags:
    service: auto-remediate
  iamRoleStatements:
    - Effect: Allow
      Action:
        - logs:CreateLogGroup
      Resource:
        - 'Fn::Join':
          - ':'
          -
            - 'arn:aws:logs'
            - Ref: 'AWS::Region'
            - Ref: 'AWS::AccountId'
            - '*'

    - Effect: Allow
      Action:
        - logs:CreateLogStream
        - logs:PutLogEvents
        - logs:DescribeLogStream
      Resource:
        - 'Fn::Join':
          - ':'
          -
            - 'arn:aws:logs'
            - Ref: 'AWS::Region'
            - Ref: 'AWS::AccountId'
            - 'log-group:/aws/lambda/*:*:*'

    - Effect: Allow
      Action: "lambda:InvokeFunction"
      Resource: "*"

    - Effect: Allow
      Action:
        - rds:Describe*
        - rds:ModifyDBInstance
      Resource: "*"

    - Effect: Allow
      Action:
        - s3:GetBucket*
        - s3:PutBucketPolicy
        - s3:PutBucketAcl
        - s3:PutBucketVersioning
      Resource: "*"

    - Effect: Allow
      Action: cloudtrail:UpdateTrail
      Resource: "*"

    - Effect: Allow
      Action:
        - config:Describe*
        - config:Get*
        - config:List*
        - config:Put*
      Resource: "*"

    - Effect: Allow
      Action:
        - sts:GetCallerIdentity
      Resource: "*"

    - Effect: Allow
      Action:
        - config:PutConfigurationRecorder
        - config:PutDeliveryChannel
        - config:StartConfigurationRecorder
      Resource: "*"

    - Effect: Allow
      Action:
        - iam:AttachRolePolicy
        - iam:CreateRole
        - iam:GetRole
        - iam:PassRole
        - iam:PutRolePolicy
      Resource: "*"

    - Effect: Allow
      Action:
        - cloudformation:UpdateTerminationProtection
      Resource: "*"

    - Effect: Allow
      Action:
        - redshift:ModifyCluster
      Resource: "*"

    - Effect: Allow
      Action:
        - ec2:RevokeSecurityGroupIngress
      Resource: "*"

package:
  individually: true

functions:

  AutoRemediateOrchestrator:
    handler: functions/AutoRemediateOrchestrator.handler
    timeout: 10
    memorySize: 128
    events:
      - sns:
          topicName: CloudConformity
          displayName: CloudConformity topic
    tags:
      Name: Auto Remediate Orchestrator
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateOrchestrator.js
        - node_modules/**

  AutoRemediateCT-001:
    handler: functions/AutoRemediateCT-001.handler
    memorySize: 128
    tags:
      Name: Auto Remediate CT-001
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateCT-001.js
        - node_modules/**

  AutoRemediateS3-001:
    handler: functions/AutoRemediateS3-001.handler
    memorySize: 128
    tags:
      Name: Auto Remediate S3-001
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateS3-001.js
        - node_modules/**

  AutoRemediateS3-012:
    handler: functions/AutoRemediateS3-012.handler
    memorySize: 128
    tags:
      Name: Auto Remediate S3-012
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateS3-012.js
        - node_modules/**

  AutoRemediateRDS-008:
    handler: functions/AutoRemediateRDS-008.handler
    memorySize: 128
    tags:
      Name: Auto Remediate RDS-008
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateRDS-008.js
        - node_modules/**

  AutoRemediateConfig-001:
    handler: functions/AutoRemediateConfig-001.handler
    timeout: 120
    memorySize: 128
    tags:
      Name: Auto Remediate Config-001
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateConfig-001.js
        - node_modules/**

  AutoRemediateCFM-005:
    handler: functions/AutoRemediateCFM-005.handler
    timeout: 120
    memorySize: 128
    tags:
      Name: Auto Remediate CFM-005
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateCFM-005.js
        - node_modules/**

  AutoRemediateRS-001:
    handler: functions/AutoRemediateRS-001.handler
    timeout: 120
    memorySize: 128
    tags:
      Name: Auto Remediate RS-001
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateRS-001.js
        - node_modules/**

  AutoRemediateEC2-002:
    handler: functions/AutoRemediateEC-002.handler
    timeout: 120
    memorySize: 128
    tags:
      Name: Auto Remediate EC-002
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateEC-002.js
        - node_modules/**

  AutoRemediateEC2-005:
    handler: functions/AutoRemediateEC-005.handler
    timeout: 120
    memorySize: 128
    tags:
      Name: Auto Remediate EC-005
      Owner: CloudConformity
      Role: Auto Remediate
      Environment: Ops
    package:
      include:
        - functions/AutoRemediateEC-005.js
        - node_modules/**
